/.vs/config/applicationhost.config
/.vs/jcW3CLOUD/v14/.suo
/Debug/SDL.dll
/Debug/config.cfg
/Debug/jcW3CLOUD.App.SDL.exe
/Debug/jcW3CLOUD.App.SDL.ilk
/Debug/jcW3CLOUD.App.SDL.pdb
/Debug/jcW3CLOUD.Lib.lib
/Debug/stderr.txt
/Debug/stdout.txt
/jcW3CLOUD.App.SDL/Debug/Main.obj
/jcW3CLOUD.App.SDL/Debug/SDLWindowHandler.obj
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.read.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.write.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/cl.command.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/jcW3CLOUD.App.SDL.lastbuildstate
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/link.command.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/link.read.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOU.CB121747.tlog/link.write.1.tlog
/jcW3CLOUD.App.SDL/Debug/jcW3CLOUD.App.SDL.Build.CppClean.log
/jcW3CLOUD.App.SDL/Debug/jcW3CLOUD.App.SDL.log
/jcW3CLOUD.App.SDL/Debug/vc120.idb
/jcW3CLOUD.App.SDL/Debug/vc120.pdb
/jcW3CLOUD.App.SDL/jcW3CLOUD.App.SDL.vcxproj.filters
/jcW3CLOUD.App.SDL/jcW3CLOUD.App.SDL.vcxproj.user
/jcW3CLOUD.Lib/Debug/Config.obj
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.Build.CppClean.log
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.log
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/CL.read.1.tlog
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/CL.write.1.tlog
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/Lib-link.read.1.tlog
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/Lib-link.write.1.tlog
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/cl.command.1.tlog
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/jcW3CLOUD.Lib.lastbuildstate
/jcW3CLOUD.Lib/Debug/jcW3CLOUD.Lib.tlog/lib.command.1.tlog
/jcW3CLOUD.Lib/Debug/vc120.idb
/jcW3CLOUD.Lib/Debug/vc120.pdb
/jcW3CLOUD.Lib/jcW3CLOUD.Lib.vcxproj
/jcW3CLOUD.Lib/jcW3CLOUD.Lib.vcxproj.filters
/jcW3CLOUD.opensdf
/jcW3CLOUD.sdf
/jcW3CLOUD.v12.suo
/jcW3CLOUD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUDwpf/obj/x86/Debug/App.g.i.cs
/jcW3CLOUDwpf/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUDwpf/obj/x86/Debug/MainWindow.g.i.cs
/jcW3CLOUDwpf/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcW3CLOUDwpf/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcW3CLOUDwpf/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcW3CLOUDwpf/obj/x86/Debug/jcW3CLOUDwpf_MarkupCompile.i.cache
/jcW3CLOUD.Lib/Debug/MainWrapper.obj
/jcW3CLOUD.SDL/Release/Main.obj
/jcW3CLOUD.SDL/Release/SDLWindowHandler.obj
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.log
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/CL.read.1.tlog
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/CL.write.1.tlog
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/cl.command.1.tlog
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/jcW3CLOUD.SDL.lastbuildstate
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.command.1.tlog
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.read.1.tlog
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.write.1.tlog
/jcW3CLOUD.SDL/Release/vc120.pdb
/Debug/jcW3CLOUD.exe
/Debug/jcW3CLOUD.ilk
/Debug/jcW3CLOUD.pdb
/Release/SDL.dll
/Release/config.cfg
/Release/jcW3CLOUD.exe
/jcW3CLOUD.Lib/Release/Config.obj
/jcW3CLOUD.Lib/Release/MainWrapper.obj
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.log
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/CL.read.1.tlog
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/CL.write.1.tlog
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/Lib-link.read.1.tlog
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/Lib-link.write.1.tlog
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/cl.command.1.tlog
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/jcW3CLOUD.Lib.lastbuildstate
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/lib.command.1.tlog
/jcW3CLOUD.Lib/Release/vc120.pdb
/jcW3CLOUD.SDL/Debug/Main.obj
/jcW3CLOUD.SDL/Debug/SDLWindowHandler.obj
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.read.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.write.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/cl.command.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/jcW3CLOUD.App.SDL.lastbuildstate
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.command.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.read.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.write.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.App.SDL.Build.CppClean.log
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.App.SDL.log
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.Build.CppClean.log
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.log
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/CL.read.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/CL.write.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/cl.command.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/jcW3CLOUD.SDL.lastbuildstate
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.command.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.read.1.tlog
/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.write.1.tlog
/jcW3CLOUD.SDL/Debug/vc120.idb
/jcW3CLOUD.SDL/Debug/vc120.pdb
/jcW3CLOUD.Console/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUD.Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcW3CLOUD.Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcW3CLOUD.Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcW3CLOUD.Console/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUD.Console/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcW3CLOUD.Console/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcW3CLOUD.Console/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcW3CLOUD.WindowsService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUD.WindowsService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcW3CLOUD.WindowsService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcW3CLOUD.WindowsService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcW3CLOUD.WindowsService/obj/Release/DesignTimeResolveAssemblyReferences.cache
/jcW3CLOUD.WindowsService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcW3CLOUD.WindowsService/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcW3CLOUD.WindowsService/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcW3CLOUD.WindowsService/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.log
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/cl.command.1.tlog
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/jcW3CLOUD.MOTIF.lastbuildstate
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/link.command.1.tlog
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/link.read.1.tlog
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/link.write.1.tlog
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.tlog/unsuccessfulbuild
/jcW3CLOUD.MOTIF/Release/vc120.pdb
/jcW3CLOUD.MOTIF/jcW3CLOUD.MOTIF.vcxproj.filters
/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.vcxprojResolveAssemblyReference.cache
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.Build.CppClean.log
/jcW3CLOUD.Lib/Release/jcW3CLOUD.Lib.tlog/unsuccessfulbuild
/jcW3CLOUD.MOTIF/Release/jcW3CLOUD.MOTIF.vcxprojResolveAssemblyReference.cache
/jcW3CLOUD.Lib/Release/BookmarkManager.obj
/Release/jcW3CLOUD.Lib.lib
/jcW3CLOUD.Lib/Release/ContentTypeParser.obj
/jcW3CLOUD.Lib/Release/FileReader.obj
/jcW3CLOUD.Lib/Release/FileWriter.obj
/jcW3CLOUD.Lib/Release/HtmlContentRenderer.obj
/jcW3CLOUD.Lib/Release/JsonContentRenderer.obj
/jcW3CLOUD.Lib/Release/PlainTextContentRenderer.obj
/jcW3CLOUD.Lib/Release/RequestRenderer.obj
/jcW3CLOUD.Lib/Release/XmlContentRenderer.obj
/.vs/jcW3CLOUD.SDL/Debug/Main.obj
/.vs/jcW3CLOUD.SDL/Debug/SDLWindowHandler.obj
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.read.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/CL.write.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/cl.command.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/jcW3CLOUD.App.SDL.lastbuildstate
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.command.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.read.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOU.CB121747.tlog/link.write.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.App.SDL.Build.CppClean.log
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.App.SDL.log
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.Build.CppClean.log
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.log
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/CL.read.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/CL.write.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/cl.command.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/jcW3CLOUD.SDL.lastbuildstate
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.command.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.read.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/jcW3CLOUD.SDL.tlog/link.write.1.tlog
/.vs/jcW3CLOUD.SDL/Debug/vc120.idb
/.vs/jcW3CLOUD.SDL/Debug/vc120.pdb
/.vs/jcW3CLOUD.SDL/Release/Main.obj
/.vs/jcW3CLOUD.SDL/Release/SDLWindowHandler.obj
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.log
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/CL.read.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/CL.write.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/cl.command.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/jcW3CLOUD.SDL.lastbuildstate
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.command.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.read.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.tlog/link.write.1.tlog
/.vs/jcW3CLOUD.SDL/Release/jcW3CLOUD.SDL.vcxprojResolveAssemblyReference.cache
/.vs/jcW3CLOUD.SDL/Release/vc120.pdb
/jcW3CLOUD.Gtk/Release/jcW3CLOUD.Gtk.Build.CppClean.log
/jcW3CLOUD.Gtk/Release/jcW3CLOUD.Gtk.log
/jcW3CLOUD.Gtk/Release/jcW3CLOUD.Gtk.tlog/cl.command.1.tlog
/jcW3CLOUD.Gtk/Release/jcW3CLOUD.Gtk.tlog/jcW3CLOUD.Gtk.lastbuildstate
/jcW3CLOUD.Gtk/Release/jcW3CLOUD.Gtk.tlog/unsuccessfulbuild
/jcW3CLOUD.Gtk/Release/vc120.pdb
